.pink {
    border: dashed 1px #f0f;
}
.yellow {
    border: dashed 1px yellow;
}

#film-view {
    font-family: tahoma,arial;
    font-size: 9pt;
    color: #222222;
}

#film-view li:first-letter {
    text-transform: uppercase;
   
}

/* SW Canvas */
#swapi-canvas {
        background-color: #000;
        background-image: url(/media/stars_med.jpg);
    border: solid 1px #F6EA9C;
    border-radius: 3px;
    overflow: hidden;
    height: 310px;    
}

#titles
{
	/* position: absolute; */
        /*width: 10em;
	height: 10em;
        */
        position: relative;
        width: 280px;
	height: 300px;
        bottom: 0px;
        left: -20px;
        padding: 6px;
	font-size: 150%;
	text-align: justify;
	/* overflow: hidden; */
	transform-origin: 40% 100%;
	transform: perspective(200px) rotateX(45deg);
        background-color: #000;

  
}
#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 40%;
	pointer-events: none;
}
#titlecontent
{
	position: absolute;
	top: 100%;
	animation: scroll 50s linear 1s infinite;
        color: #ff0;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}